*, *:before, *:after {
    box-sizing: border-box;
        }

body {
	background-image: url('stormyblur.jpg');
	background-position: center;
	background-repeat: no-repeat;
	overflow: auto;
	filter: alpha(opacity= 50);
}

#head {
	height: 100px;
	overflow: auto;
	padding-left: 2%;
	font-family: 'Oxygen', sans-serif;
	/*font-family: 'Muli', sans-serif;*/
}
#head date {
	/*float: right;*/
	color: #FFFFFF;
	font-family: 'Oxygen', sans-serif;
	
	padding-bottom: 30px;
}
.logo {
	margin: 0;
	float: left;
	height: 100px;
	width: 100px;
	padding: 10px;
	/*background-color: #1a237e;*/
}

h1 {
	color: #EFEFEF;
}

button {
	float: right;
	position: relative;
	bottom: 25px;
	border: none;
    outline: none;
    background-color: #FFFFFF;
}

.white {
	background-color: #FFFFFF;
	opacity: 0.4;
	width: 80%;
	height: 50px;
	margin: 0 auto;
	/*box-shadow: 2px 2px 1px #FFFFFF;*/
	
}
h3 {
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Oxygen', sans-serif;
	text-align: left;
	color: #000000;
	padding-left: 2%;
	padding-top: 2%;
}
.cf:after {
    content: "";
    display: block;
    clear: both;
        }

@media (min-width: 700px) {
	#whole div {
		width: 46%;
		height: 170px;
		float: left;
		padding: 2px;
		text-align: center;
	}
	#city {
		text-align: left;
		position: relative;
		bottom: 25px;
		left: 10px;
	}
	#conditions {
		position: relative;
		bottom: 63px;
		left: 390px;
	}
	#wind {
		position: relative;
		bottom: 400px;
		left: 130px;
	}
	#hi {
		position: relative;
		bottom: 70px;
		left: 130px;
	}
	#lo {
		position: relative;
		bottom: 70px;
		left: 130px;
	}
	.white {
		margin: 2%;
	}
	button {
		display: none;
	}
};
