*, *:before, *:after {
    box-sizing: border-box;
        }

body {
	background-image: url('stormy.jpg');
	background-position: center;
	background-repeat: no-repeat;
	overflow: auto;
	/*opacity: 0.4;*/
	filter: alpha(opacity= 50);
}

#head {
	background-color: #2C464F;
	height: 100px;
	overflow: auto;
	padding-left: 2%;
	font-family: 'Oxygen', sans-serif;
}
#head date {
	/*float: right;*/
	color: #FFFFFF;
	font-family: 'Oxygen', sans-serif;
	padding-bottom: 30px;
}
.logo {
	margin: 0;
	float: left;
	height: 100px;
	width: 100px;
	padding: 10px;
	background-color: #2C464F;
}

h1 {
	color: #EFEFEF;
}

button {
	float: right;
}

.white {
	background-color: #FFFFFF;
	opacity: 0.4;
	width: 80%;
	height: 50px;
	margin: 0 auto;
	/*box-shadow: 2px 2px 1px #FFFFFF;*/
	
}
h3 {
	font-family: 'Raleway', sans-serif;
	text-align: left;
	color: #000000;
	padding-left: 2%;
	padding-top: 2%;
}
.cf:after {
    content: "";
    display: block;
    clear: both;
        }

@media (min-width: 700px) {
	#whole div {
		width: 46%;
		height: 170px;
		float: left;
		padding: 2px;
		text-align: center;
	}
	.white {
		margin: 2%;
	}
	button {
		display: none;
	}
};
